@import "../../style/brakpoints.scss";

.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8rem 2rem 5rem 2rem;
  width: auto;
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url("../../images/bg.svg");
  &__header {
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
