@import "../../style/brakpoints.scss";

.singleproject {
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid rgba(169, 169, 169, 0.3);
}

.buttons-container {
  display: flex;
  gap: 1rem;
  @include xs {
    flex-direction: column;
  }
}
