@import "../../style/variables.scss";
@import "../../style/brakpoints.scss";

.nav {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  justify-content: space-between;
  font-family: $SansPro-Bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s;
  width: 100%;
  color: $primary;
  position: fixed;
  background-color: white;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 1000;

  @include sm {
    flex-direction: row;
  }
  @include md {
    padding: 0;
  }
  &__header {
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s;
    padding: 0rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 40%;
    section {
      display: flex;
      align-items: center;
      img {
        width: 5rem;
      }
    }
    img {
      width: 3rem;
    }
    &__name {
      text-align: left;
      transition: color 0.3s;

      &:hover {
        color: $yellow;
      }
    }
  }
  &__links {
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 0;
      align-items: flex-end;
      justify-content: right;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
      display: none;
      @include sm {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        box-shadow: none;
      }
      li {
        padding: 2rem 1.4rem;
        width: 100%;
        cursor: pointer;
        font-size: 1.6rem;
        transition: color 0.3s;
        border-top: 1px solid rgba(169, 169, 169, 0.3);
        text-align: right;
        &:hover {
          color: $yellow;
        }
        @include sm {
          border-top: none;
        }
        @include lg {
          padding: 2rem 1.5rem;
          font-size: 1.3rem;
        }
      }
    }
  }
}

.hamburger {
  @include sm {
    display: none;
  }
}

.show {
  display: block !important;
}
